/* =============
    projects
============= */
@use "../helpers";

#projects{
    background-color: var(--lightgrey);
    padding: 56px 24px;
    font-size: helpers.rem-calc(14);
    font-weight: 600;
}